* {
  margin:0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
   box-sizing: border-box;
   
}

body{
  background-color: rgb(242, 236, 236);
  min-height: 800px;
  height: auto;
}